{% extends 'layout.html' %}

{% block body %}
	<div class="container">
		<h1 style="text-align: center">Login</h1>
		<form method="POST" action="">
			<div class="form-group row">
				<label for="email" class="col-form-label"></label>
				<div class="col-md-4 offset-md-4">
					<input id="email" class="form-control" type="email" placeholder="Email" name="email" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="password" class="col-form-label"></label>			
				<div class="col-md-4 offset-md-4">
					<input id="password" class="form-control" type="password" placeholder="Password" name="password" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="submit" class="col-form-label"></label>
				<div class="col-md-4 offset-md-4">
					<input id="submit" class="form-control btn btn-primary" type="submit" value="Log in">
				</div>
			</div>
			<p style="text-align: center">Don't have an account? <a href="/register" id="sign-up">Sign up</a></p>
		</form>
	</div>

{% endblock %}